<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <File append="true"
      fileName="${env:HOME}/workspace/mazumderavirup1999-ME_QEATS_V2/qeats_analysis_app.log"
      ignoreExceptions="false"
      name="LogFileAppender">
      <JsonLayout compact="true" eventEol="true" includeStacktrace="true">
        <KeyValuePair key="runId" value="$${ctx:runId}"/>
      </JsonLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogFileAppender"/>
    </Root>
    <Logger name="com.crio.qeats.configs" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogFileAppender"/>
    </Logger>
    <Logger name="com.crio.qeats.controller" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogFileAppender"/>
    </Logger>
    <Logger name="com.crio.qeats.repositoryservices" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogFileAppender"/>
    </Logger>
    <Logger name="com.crio.qeats.services" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogFileAppender"/>
    </Logger>
  </Loggers>
</Configuration>
